* {
    margin: 0;
    padding: 0;
  }

.home {
  opacity: 0.9;
  background: black;
}

.img {
  border-radius: 5%;
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
  width: 30%;
  heigth: 30%;
}