* {
    margin: 0;
    padding: 0;
  }

@media (max-width: 768px) { background-color: black; }

.home {
  opacity: 0.9;
  background: black;
}

.video {
  border-radius: 5%;
  margin-top: 10%;
  margin-left: 9%;
  margin-bottom: 10%;
  width: 80%;
  heigth: 90%;
}