* {
    margin: 0;
    padding: 0;
  }

.NavBar {
  opacity: 0.9;
  background: linear-gradient(-30deg, #000000, #a9a9a9, #9932cc);
  animation: gradient 30s ease infinite;
}

.logo {
  border-radius: 7%;
  margin-top: 1%;
  margin-left: 5%;
  width: 9%;
  heigth: 9%;
}

.btn {
  cursor: pointer;
  background-color:  #9932cc;
  padding: 1%;
  color: white;
  font-size: 90%;
  font-family: cursive;
  border: none;
  border-radius: 12%;
  opacity: 0.7;
  margin-left: 52%;
  margin-right: -45%;
  height: 1%;
  position: relative;
  top: -25px;
}

.btn:hover {
  background-color:  #000000;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .logo {
    margin-left: 2%;
    width: 20%;
    height: 20%;
  }

  .btn {
    margin-left: 20%;
    margin-right: -10%;
  }
}