* {
    margin: 0;
    padding: 0;
  }

@media (max-width: 350px) { background-color: black; }

.class {
  opacity: 0.9;
  background: black;
}

.foto {
  border-radius: 5%;
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
  width: 30%;
  heigth: 30%;
}